<!DOCTYPE html>
<html lang="en">

  {% include 'header.html' %}    
  
  <body>
      <form method="POST" action="" accept-charset="UTF-8">
    
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container"> 
            {% include 'navbar.html' %}
          </div>
        </nav>
  
        <div class="container">
            <div class="starter-left">
                <form>
                                
                    <div class="input-group">
                        <span class="input-group-addon">Date </span>
                        <input type="date" name = "date" class="form-control" id="formGroupExampleInput" value= "{{ val_date }}">
                    </div>
              
                    <div class="input-group">
                        <span class="input-group-addon">Weight </span>
                        <input type="text" name = "weight" class="form-control" placeholder = "Weight" value = "{{ val_weight }}">
                    </div>
                    
                    <div class="input-group">
                        <span class="input-group-addon">Chest </span>
                        <input type="text" name = "chest" class="form-control" placeholder = "Chest" value = "{{ val_chest }}">
                    </div>
                    
                    <div class="input-group">
                        <span class="input-group-addon">Waist at BB </span>
                        <input type="text" name = "waist_bb" class="form-control" placeholder = "Waist at BB" value = "{{ val_waist_bb }}">
                    </div>
                    
                    <div class="input-group">
                        <span class="input-group-addon">Waist </span>
                        <input type="text" name = "waist" class="form-control" placeholder = "Waist" value = "{{ val_waist }}">
                    </div>
                    
                    <div class="input-group">
                        <span class="input-group-addon">Hips </span>
                        <input type="text" name = "hips" class="form-control" placeholder = "hips" value = "{{ val_hips }}">
                    </div>
                    
                    <div class="input-group">
                        <span class="input-group-addon">Heart Rate </span>
                        <input type="number" name = "HR" class="form-control" placeholder = "HR" value = "{{ val_HR }}">
                    </div>
                    
                    <div class="input-group">
                        <div class="form-group">
                            <span class="input-group-addon">Notes About Health </span>
                            <textarea type="text" name = "notes" class="form-control" rows="3" style="min-width: 100%" placeholder = "notes...">{{ val_notes }}</textarea>
                        </div>
                    </div>
                                    
                    <p class="bottom-three">       
                        <div class="container">
                          <input type="submit" class="btn btn-info" value="Submit">
                        </div>   
                    </p>                     
                    
                </form>
            </div><!-- /starter-template -->
        </div><!-- /.container -->
    {% include 'footer.html' %}
</body>
</html>
    