
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Running Data</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
  
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Workouts <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="http://localhost:8080/AddWorkout">Add Workout</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Reports</li>
                <li><a href="http://localhost:8080/ListWorkouts">Workouts</a></li>
                <li><a href="http://localhost:8080/WorkoutWeekStats">Week based results</a></li>
                <li><a href="http://localhost:8080/WorkoutMonthStats">Months base results</a></li>
                <li><a href="http://localhost:8080/Workout12Months">Last 12 Months</a></li>    
                <li><a href="http://localhost:8080/Workout52Weeks">Last 52 Weeks</a></li>
            </ul>
        </li>
  
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Health <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="http://localhost:8080/ListHealth">List Health</a></li>
                <li><a href="http://localhost:8080/AddHealth">Add Health</a></li>
            </ul>
        </li>
        
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Athletes <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="http://localhost:8080/user/Scott%20Roberts">View Scott Roberts </a></li>
                <li><a href="http://localhost:8080/ListAthletes">List Athletes</a></li>
            </ul>
        </li>
        
        <li><a href="http://localhost:8080/Compare">Compare Races</a></li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shoes <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="http://localhost:8080/ListShoes">List Shoes</a></li>
                <li><a href="http://localhost:8080/AddShoes">Add Shoes</a></li>
            </ul>
        </li>        

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
